<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
					<nav id="nav">
						<a href="index.html">Начало</a>
						<a href="index.html">Започни Работа</a>
						<a href="registration.html">Регистрация за услуги</a>
						<a href="generic.html">За нас</a>
						<a href="login.html">Вход</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
				

				


		<!-- Footer -->
			<footer id="footer">

					<h3>Заяви престой</h3>

					<form action="#" method="post">
						<div>
							<label style="text-align:center;" for="typeCar">Тип престой</label>	
							<center>
							<div class="4u 12u$(small)">
								<input type="radio" id="night" name="demo-priority">
								<label for="night">За цяла вечер</label>
								
								<input type="radio" id="visit-1" name="demo-priority">
								<label for="visit-1">1 посещение на ден</label>
								
								<input type="radio" id="visit-2" name="demo-priority">
								<label for="visit-2">2 посещениs на ден</label>
								
								<input type="radio" id="visit-3" name="demo-priority">
								<label for="visit-3">3 посещениs на ден</label>
							</div>
							</center>
						</div>
						<br>
						<div>
							<label style="text-align:center;" for="typeCar">Какви са домашните любимци</label>	
							<center>
							<div class="6u 12u$(small)">
												<input type="checkbox" id="dog" name="dog">
												<label for="dog">Куче</label>
					
												<input type="checkbox" id="cat" name="cat">
												<label for="cat">Котка</label>
						
												<input type="checkbox" id="rabbit" name="rabbit">
												<label for="rabbit">Заек</label>
												
												<input type="checkbox" id="parrot" name="parrot">
												<label for="parrot">Папагал</label>
												
												<input type="checkbox" id="other" name="other">
												<label for="other">Друго</label>
							</div>
							</center>
						</div>
						<br>
						<div class="field half first">
							<label for="number">Колко домашни любимци ще отсядат</label>
							<input name="number" id="number" type="text" placeholder="Брой домашни любимци">
						</div>
						
						<div class="field half first">
							<label for="breed">Порода</label>
							<input name="breed" id="breed" type="text" placeholder="Порода">
						</div>
						
						<div class="field half first">
							<label for="size">Размер на домашния любимец</label>
							<center>
							<div class="6u 12u$(small)">
												<input type="checkbox" id="kg5" name="kg5">
												<label for="kg5">1-5 кг</label>
					
												<input type="checkbox" id="kg10" name="kg10">
												<label for="kg10">5-10 кг</label>
						
												<input type="checkbox" id="kg20" name="kg20">
												<label for="kg20">10-20 кг</label>
												
												<input type="checkbox" id="kg40" name="kg40">
												<label for="kg40">20-40 кг</label>
							</div>
							</center>
						</div>
						<br>
						<center>
						<div class="6u$ 12u$(medium)">
                            <div class="row uniform">
								
                                <div class="12u$">
                                    <textarea name="demo-message" id="demo-message" placeholder="Допълнително Описание (Не е задължително)" rows="6"></textarea>
                                </div>

                            </div>
                        </div>
						</center>
						<br>
						
						<div class="field half first">
							<label for="from">Престой от</label>
							<input name="from" id="from" type="date" placeholder="От">
						</div>
						<div class="field half first">
							<label for="to">Престой до</label>
							<input name="to" id="to" type="date" placeholder="До">
						</div>
						
						<div class="field half first">
							<label for="address">Адрес</label>
							<input name="address" id="address" type="text" placeholder="Адрес">
						</div>
						
						<div class="field half first">
							<label for="t">Снимки</label>
							<input value="Прикачи" name="photo" id="photo" type="file" placeholder="Снимка">
						</div>
						<ul class="actions">
							<li><input value="Заяви престой" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

			</footer>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/skel.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>